/*Tipografía del proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


:root {
    /*Var de la paleta de colores que se usaría*/
    --clr-principal: #29fe1d;
    --clr-secundario: #07e500;
    --clr-card: #84D187;
    --clr-button: #00B207;
    --clr-ternario: #fff;
    --clr-cuartario: #000; 
    /*Var de la tipografía*/
    --type-principal: 'Montserrat', sans-serif; 
}

*{
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;

}


::-webkit-scrollbar{
    display: none;
}

h1 {
    cursor: pointer;
}

.pasarelaComprasOculto{
    background-color: white;
    display: none;
    position: absolute;
    width: 350px;
    height: 100dvh;
    right: 0px;
    z-index: 1;
}
.sombra{
    background: rgba(0, 0, 0, 0.411);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: none;
}
.comprasCheckOut{
    margin: 50px;
    height: 100vh;
}

.comprasCheckOut h3{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 100%;
}
#cerrar {
    cursor: pointer;
    position: absolute;
    right: 0;
}
.productosSeleccionados{
    display: flex;
    width: 120vw;
    height: 100px;
    object-fit: cover;
}
.productoInformacion{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
}
.productoInformacion p{
    color: var(--clr-cuartario);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
    width: 50px;
}
.productoInformacion img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    top: 120px;
    left: 280px;
}
.botonFinalizar{
    width: 100vw;
    height: 100%;
}
.botonFinalizar button{
    top: 850px;
    left: 100px;
    position: absolute;
}
.infoFinal{
    display: flex;
    position: absolute;
    bottom: 150px;
    margin: 20px;
}
.infoFinal h6{
    margin-right: 10px;
}
/*Estilos del nav*/
hr {
    border-color: black;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}
.banner-right{
    align-items: center;
    display: flex;
}
.banner-right p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: gray;
}
.banner-right img{
    width: 20px;
    height: 20px;
}
.banner-left{
    display: flex;
    align-items: end;
    margin-top: 50px;
}
.banner-left a{
    font-family: 'Poppins', sans-serif;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
}
.banner-left a:hover {
    color: var(--clr-cuartario);
    transition: .4s;
}
.banner-left select{
    color: gray;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
    top: -10px;
}
/*Estilos del nombre y logo*/
.bannerPrincipal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.bannerPrincipal h1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.bannerPrincipal span{
    color: var(--clr-secundario);
}
.contenedorDerecho{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.contenedorDerecho .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contenedorMedio input{
    width: 300px;
    height: 30px;
    border-radius: 0;
    margin: 15px;
}
.botonBuscar{
    background-color: var(--clr-button);
    border: none;
    color: var(--clr-ternario);
    width: 60px;
    height: 30px;
    margin: 0;
}
.botonBuscar:hover{
    background-color: var(--clr-secundario);
    transition: .3s ease;
}
.contenedorIzquierdo{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorIzquierdo img{
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    transition: transform .4s ease;
}
.contenedorIzquierdo img:hover{
    transform: scale(1.1);
}
.carritoCompras{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.carritoCompras p{
    margin: 0;
}
.carritoCompras span{
    color: var(--clr-cuartario);
}

.contenedorDown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}
.contenedorDown ul{
    color: var(--clr-ternario);
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorDown li{
    color: #ccc;
    cursor: pointer;
    list-style: none;
    margin: 10px;
}
.contenedorDown li:hover{
    color: var(--clr-ternario);
}
.contenedorDown li:focus{
    color: var(--clr-ternario);
}
.categoria button{
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.categoria button:hover{
    color: var(--clr-ternario);
}
select {
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.left{
    display: flex;
}
.left p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
    color: var(--clr-ternario);
}
.left img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 10px;
}
/*Estilos del search*/
.search {
    position: relative;
    right: 200px;
}
.button-search {
    background-color: var(--clr-secundario);
    border: none;
    border-radius: 5px;
    color: var(--clr-ternario);
    width: 70px;
}
.button-search:hover {
    background-color: #00b800;
    transition: .3s ease;
}
input {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
input:focus{
    outline: none;
}
input::placeholder {
    text-align: center;
}
.icon {
    margin-right: 10px;
}

#ubicacion{
    margin: auto;
    margin-top: 50px;
    height: 400px;
    max-width: 1000px;
    border-radius: 5px;
}

img{
    object-fit: cover;
}

/*Footer*/
footer {
    background-color: var(--clr-cuartario);
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 0;
}
.footer-columnas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    place-items: center;
    align-items: center;
    margin: 40px;
}
.footer-derecho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    margin: 20px;
}
.footer-derecho img{
    margin-top: 20px;
    margin-right: 10px;
}
.footer-derecho h2 {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    margin-top: 30px;
}
p {
    color: #ccc;
    text-align: center;
    margin-top: 30px;
}
.columna-uno,
.columna-dos,
.columna-tres, 
.columna-cuatro {
    margin-top: 40px;
}
.columna-uno h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-uno ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-uno li:hover {
    color: var(--clr-ternario);
}
.columna-dos h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-dos ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-dos li:hover {
    color: var(--clr-ternario);
}
.columna-tres h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-tres ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-tres li:hover {
    color: var(--clr-ternario);
}
.columna-cuatro h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-cuatro ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-cuatro li:hover {
    color: var(--clr-ternario);
}
hr {
    margin: 0 5%;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 700px) {
    .banner-right{
        display: none;
    }
    .contenedorMedio input{
        width: 150px;
    }
}
@media screen and (max-width: 664px) {
    .contenedorMedio{
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    .informacion-usuario-box{
        width: 1000px;
    }
}
@media screen and (max-width: 1200px) {
    .informacion-usuario-box{
        width: 900px;
    }
}
@media screen and (max-width: 1000px) {
    .informacion-usuario-box{
        width: 700px;
    }
}
@media screen and (max-width: 768px) {
    .informacion-usuario-box{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .informacion-usuario-box .parrafo-info{
        text-align: center;
    }
    .informacion-usuario-box{
        margin-left: 130px;
    }
}
@media screen and (max-width: 768px) {
    .left{
        margin-right: 80px;
    }
}