/*Tipografía del proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


:root {
    /*Var de la paleta de colores que se usaría*/
    --clr-principal: #29fe1d;
    --clr-secundario: #07e500;
    --clr-card: #84D187;
    --clr-button: #00B207;
    --clr-ternario: #fff;
    --clr-cuartario: #000; 
    /*Var de la tipografía*/
    --type-principal: 'Montserrat', sans-serif; 
}

/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.pasarelaComprasOculto{
    background-color: white;
    display: none;
    position: absolute;
    width: 350px;
    height: 100dvh;
    right: 0px;
    z-index: 1;
}
.sombra{
    background: rgba(0, 0, 0, 0.411);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: none;
}
.comprasCheckOut{
    margin: 50px;
    height: 100vh;
}

.comprasCheckOut h3{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 100%;
}
#cerrar {
    cursor: pointer;
    position: absolute;
    right: 0;
}
.productosSeleccionados{
    display: flex;
    width: 120vw;
    height: 100px;
    object-fit: cover;
}
.productoInformacion{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
}
.productoInformacion p{
    color: var(--clr-cuartario);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
    width: 50px;
}
.productoInformacion img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    top: 120px;
    left: 280px;
}
.botonFinalizar{
    width: 100vw;
    height: 100%;
}
.botonFinalizar button{
    top: 600px;
    left: 100px;
    position: absolute;
}
.infoFinal{
    display: flex;
    position: absolute;
    bottom: 150px;
    margin: 20px;
}
.infoFinal h6{
    margin-right: 10px;
}
/*Estilos del nav*/
hr {
    border-color: black;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}
.banner-right{
    align-items: center;
    display: flex;
}
.banner-right p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: gray;
}
.banner-right img{
    width: 20px;
    height: 20px;
}
.banner-left{
    display: flex;
    align-items: end;
    margin-top: 50px;
}
.banner-left a{
    font-family: 'Poppins', sans-serif;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
}
.banner-left a:hover {
    color: var(--clr-cuartario);
    transition: .4s;
}
.banner-left select{
    color: gray;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
    top: -10px;
}
/*Estilos del nombre y logo*/
.bannerPrincipal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.bannerPrincipal h1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.bannerPrincipal span{
    color: var(--clr-secundario);
}
.contenedorDerecho{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.contenedorDerecho .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contenedorMedio input{
    width: 300px;
    height: 30px;
    border-radius: 0;
    margin: 15px;
}
.botonBuscar{
    background-color: var(--clr-button);
    border: none;
    color: var(--clr-ternario);
    width: 60px;
    height: 30px;
    margin: 0;
}
.botonBuscar:hover{
    background-color: var(--clr-secundario);
    transition: .3s ease;
}
.contenedorIzquierdo{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorIzquierdo img{
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    transition: transform .4s ease;
}
.contenedorIzquierdo img:hover{
    transform: scale(1.1);
}
.carritoCompras{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.carritoCompras p{
    margin: 0;
}
.carritoCompras span{
    color: var(--clr-cuartario);
}

.contenedorDown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}
.contenedorDown ul{
    color: var(--clr-ternario);
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorDown li{
    color: #ccc;
    cursor: pointer;
    list-style: none;
    margin: 10px;
}
.contenedorDown li:hover{
    color: var(--clr-ternario);
}
.contenedorDown li:focus{
    color: var(--clr-ternario);
}
.categoria button{
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.categoria button:hover{
    color: var(--clr-ternario);
}
select {
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.left{
    display: flex;
}
.left p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
    color: var(--clr-ternario);
}
.left img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 10px;
}
/*Estilos del search*/
.search {
    position: relative;
    right: 200px;
}
.button-search {
    background-color: var(--clr-secundario);
    border: none;
    border-radius: 5px;
    color: var(--clr-ternario);
    width: 70px;
}
.button-search:hover {
    background-color: #00b800;
    transition: .3s ease;
}
input {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
input:focus{
    outline: none;
}
input::placeholder {
    text-align: center;
}
.icon {
    margin-right: 10px;
}

/*Estilos de las cartas*/
.cartas-principales {
    margin-top: 14rem;
    margin-right: 1rem;
}

.card-body h1 {
    font-family: var(--type-principal);
    color: var(--clr-ternario);
}

.carta-column1 {
    position: relative;
    top: -202px;
    width: 100%;
}
.card-info {
    margin-top: 0;
}

/*Carta uno*/
.container{
    height: 900px;
}
.carta-uno {
    height: 600px;
    background-image: url('../img/Banner1.png');/*Se agrega la imagen de la primer carta*/
    background-size: cover;
    border-radius: 10px;

}
.carta-uno {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.informacion {
    margin-top: 125px;
    margin-left: 50px;
}
.informacion h2 {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    font-size: 50px;
    width: 600px;
    height: 116px;
}
.informacion p {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    font-size: 15px;
    width: 200px;
    text-align: left;

}

.informacion .comprar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-ternario);
    border: none;
    border-radius: 43px;
    color: var(--clr-button);
    width: 160px;
    height: 45px;
    cursor: pointer;
    font-weight: bold;
}
.informacion .comprar:hover {
    color: var(--clr-secundario);
    transition: .5s ease-in-out;
}
/*Carta Dos*/
.carta-dos-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 15px;
}
.carta-dos {
    background-image: url('../img/Banner2.png');
    background-size: cover;
    border-radius: 10px;
    height: 288px;
    width: 423px;
}
.carta-dos p {
    color: var(--clr-cuartario);
    font-family: var(--type-principal);
}
.carta-dos h2 {
    color: var(--clr-cuartario);
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 30px;
    width: 343px;
}
.carta-dos span {
    color: gray;
    font-family: var(--type-principal);
}
.carta-dos a{
    text-decoration: none;
    color: var(--clr-button);
    font-family: var(--type-principal);
    font-weight: bold;
    margin-top: 20px;
}
.carta-dos a:hover {
    color: var(--clr-secundario);
    transition: .5s ease-in-out;
}
.carta-dos img {
    color: var(--);
    width: 30px;
    height: 30px;
    transition: .5s ease-in-out;
}
.carta-dos img:hover{
    transform: translateX(5px);
}
/*Carta Tres*/
.carta-tres-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 15px;
}
.carta-tres {
    display: flex;
    flex-direction: column;
    background-image: url('../img/Banner3.png');
    background-size: cover;
    border-radius: 10px;
    height: 288px;
    width: 423px;
}
.carta-tres p {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
}
.carta-tres h2{
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 30px;
    width: 343px;
}

.carta-tres a{
    text-decoration: none;
    color: var(--clr-button);
    font-family: var(--type-principal);
    font-weight: bold;
    margin-top: 20px;
}
.carta-tres a:hover {
    color: var(--clr-secundario);
    transition: .5s ease-in-out;
}
.carta-tres img {
    color: var(--);
    width: 30px;
    height: 30px;
    transition: .5s ease-in-out;
}
.carta-tres img:hover{
    transform: translateX(5px);
}

/*Estilos sobre banner para información de valor para el usuario*/
.informacion-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
}
.informacion-usuario-box{
    background-color: var(--clr-ternario);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 1300px;
    height: 128px;
}
.info-usuario-uno{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.info-usuario-uno h3{
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 15px;
}
.info-usuario-uno .parrafo-info {
    font-family: var(--type-principal);
    font-size: 10px;
    color: gray;
    text-align: left;
    margin-top: 0;
}
.info-usuario-uno img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.info-usuario-dos {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.info-usuario-dos h3 {
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 15px;
}
.info-usuario-dos .parrafo-info {
    font-family: var(--type-principal);
    font-size: 10px;
    color: gray;
    text-align: left;
    margin-top: 0;
}
.info-usuario-dos img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.info-usuario-tres{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.info-usuario-tres h3 {
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 15px;
}
.info-usuario-tres .parrafo-info{
    font-family: var(--type-principal);
    font-size: 10px;
    color: gray;
    text-align: left;
    margin-top: 0;
}
.info-usuario-tres img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.info-usuario-cuatro{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.info-usuario-cuatro h3 {
    font-family: var(--type-principal);
    font-weight: bold;
    font-size: 15px;
}
.info-usuario-cuatro .parrafo-info {
    font-family: var(--type-principal);
    font-size: 10px;
    color: gray;
    text-align: left;
    margin-top: 0;
}
.info-usuario-cuatro img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

/*Productos*/
.contenedor{
    margin: 100px;
}
.container-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-productos h2{
    font-family: var(--type-principal);
    font-weight: bold;
}
.container-productos p {
    color: var(--clr-secundario);
    cursor: pointer;
}
.container-productos p img{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: transform .5s ease-in-out;
}
.container-productos p:hover{
    color: var(--clr-button);
    transition: .5s;
}
.container-productos img:hover{
    transform: translateX(5px);
}

/*Sesion suscripcion*/
.sesion-suscripcion {
    height: 200px;
    margin-top: 50px;
}
.boletin-derecho{
    width: 448px;
    margin: 30px;
}
.boletin-derecho h2{
    font-family: var(--type-principal);
    font-weight: bold;
}
.boletin-derecho p{
    font-family: 'Poppins', sans-serif;
}
.form-suscripcion{
    width: 538px;
    margin: 40px;
}

.form-suscripcion input{
    border-radius: 25px;
    width: 300px;
    height: 40px;

}
.form-suscripcion button{
    color: var(--clr-ternario);
    background-color: var(--clr-button);
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 40px;
}
.form-suscripcion button:hover{
    background-color: var(--clr-secundario);
    transition-duration: 1s;
}
.social-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 150px;
    height: 50px;
    margin: 40px;
}
.social-icons i{
    margin-right: 20px;
}

/*Footer*/
footer {
    background-color: var(--clr-cuartario);
    width: 100%;
    height: 300px;
}
.footer-columnas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    place-items: center;
    align-items: center;
    margin: 40px;
}
.footer-derecho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    margin: 20px;
}
.footer-derecho img{
    margin-top: 20px;
    margin-right: 10px;
}
.footer-derecho h2 {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    margin-top: 30px;
}
p {
    color: #ccc;
    text-align: center;
    margin-top: 30px;
}
.columna-uno,
.columna-dos,
.columna-tres, 
.columna-cuatro {
    margin-top: 40px;
}
.columna-uno h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-uno ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-uno li:hover {
    color: var(--clr-ternario);
}
.columna-dos h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-dos ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-dos li:hover {
    color: var(--clr-ternario);
}
.columna-tres h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-tres ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-tres li:hover {
    color: var(--clr-ternario);
}
.columna-cuatro h3 {
    font-family: var(--type-principal);
    font-size: 20px;
    color: var(--clr-ternario);
    margin-left: 27px;
}
.columna-cuatro ul {
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.columna-cuatro li:hover {
    color: var(--clr-ternario);
}
hr {
    margin: 0 5%;
    border-bottom: 1px solid #ccc;
}

/*Media querys*/
/* @media screen and (max-width: 767.98px){
    h1, h2, h3, h4, h5, h6{
        font-size: 1.5rem;
    }
    .container-fluid, .container{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
} */

@media screen and (max-width: 700px) {
    .banner-right{
        display: none;
    }
    .contenedorMedio input{
        width: 150px;
    }
}
@media screen and (max-width: 664px) {
    .contenedorMedio{
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    .informacion-usuario-box{
        width: 1000px;
    }
}
@media screen and (max-width: 1200px) {
    .informacion-usuario-box{
        width: 900px;
    }
}
@media screen and (max-width: 1000px) {
    .informacion-usuario-box{
        width: 700px;
    }
}
@media screen and (max-width: 768px) {
    .informacion-usuario-box{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .informacion-usuario-box .parrafo-info{
        text-align: center;
    }
    .informacion-usuario-box{
        margin-left: 130px;
    }
}
@media screen and (max-width: 768px) {
    .left{
        margin-right: 80px;
    }
}