/*Tipografía del proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


:root {
    /*Var de la paleta de colores que se usaría*/
    --clr-principal: #29fe1d;
    --clr-secundario: #07e500;
    --clr-card: #84D187;
    --clr-button: #00B207;
    --clr-ternario: #fff;
    --clr-cuartario: #000; 
    /*Var de la tipografía*/
    --type-principal: 'Montserrat', sans-serif; 
}

/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos del nav*/
hr {
    border-color: black;
}
.banner{
    display: flex;
    flex-direction: row;
    height: 25px;
}
.banner-right{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 270px;
}
.banner-right p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    color: gray;
}
.banner-right img{
    width: 30px;
    height: 30px;
}
.banner-left{
    display: flex;
    flex-direction: row;
    align-items: end;
}
/*Estilos del nombre y logo*/
.bannerPrincipal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.bannerPrincipal h1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.bannerPrincipal span{
    color: var(--clr-secundario);
}
.contenedorDerecho{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.contenedorMedio input{
    width: 300px;
    height: 30px;
    border-radius: 0;
}
.botonBuscar{
    background-color: var(--clr-button);
    border: none;
    color: var(--clr-ternario);
    width: 60px;
    height: 30px;
    margin: 0;
}
.botonBuscar:hover{
    background-color: var(--clr-secundario);
    transition: .3s ease;
}
.contenedorIzquierdo{
    display: flex;
    flex-direction: row;
}
.contenedorIzquierdo img{
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}
.carritoCompras{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.carritoCompras p{
    margin: 0;
}
.carritoCompras span{
    color: var(--clr-cuartario);
}

.contenedorDown {
    height: 60px;
}
.contenedorDown ul{
    color: var(--clr-ternario);
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorDown li{
    color: #ccc;
    cursor: pointer;
    list-style: none;
    margin: 10px;
}
.contenedorDown li:hover{
    color: var(--clr-ternario);
}
.contenedorDown li:focus{
    color: var(--clr-ternario);
}
/*Estilos del search*/
.search {
    position: relative;
    right: 200px;
}
.button-search {
    background-color: var(--clr-secundario);
    border: none;
    border-radius: 5px;
    color: var(--clr-ternario);
    width: 70px;
}
.button-search:hover {
    background-color: #00b800;
    transition: .3s ease;
}
input {
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
input:focus{
    outline: none;
}
input::placeholder {
    text-align: center;
}
.icon {
    margin-right: 10px;
}

/*Estilos de las cartas*/
.cartas-principales {
    margin-top: 12rem;
    margin-right: 1rem;
}
.card-body {
    background-image: url('/img/plantas.jpg');
    background-size: cover;

}
.card-body h1 {
    font-family: var(--type-principal);
    color: var(--clr-ternario);
}

.carta-column{
    width: 100%;
}
.carta-column1 {
    position: relative;
    top: -100px;
    width: 100%;
}
.card-info {
    margin-top: 0;
}

/*Carta uno*/
.carta-uno {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.carta-uno p {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    font-size: 15px;
    width: 200px;
    text-align: center;
}


