/*Tipografía del proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


:root {
    /*Var de la paleta de colores que se usaría*/
    --clr-principal: #29fe1d;
    --clr-secundario: #07e500;
    --clr-card: #84D187;
    --clr-button: #00B207;
    --clr-ternario: #fff;
    --clr-cuartario: #000; 
    /*Var de la tipografía*/
    --type-principal: 'Montserrat', sans-serif; 
}

/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.pasarelaComprasOculto{
    background-color: white;
    display: none;
    position: absolute;
    width: 350px;
    height: 100dvh;
    right: 0px;
    z-index: 1;
}
.sombra{
    background: rgba(0, 0, 0, 0.411);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: none;
}
.comprasCheckOut{
    margin: 50px;
    height: 100vh;
}

.comprasCheckOut h3{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 100%;
}
#cerrar {
    cursor: pointer;
    position: absolute;
    right: 0;
}
.productosSeleccionados{
    display: flex;
    width: 120vw;
    height: 100px;
    object-fit: cover;
}
.productoInformacion{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
}
.productoInformacion p{
    color: var(--clr-cuartario);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
    width: 50px;
}
.productoInformacion img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    left: 280px;
}
.botonFinalizar{
    width: 100vw;
    height: 100%;
}
.botonFinalizar button{
    top: 850px;
    left: 100px;
    position: absolute;
}
.infoFinal{
    display: flex;
    position: absolute;
    bottom: 150px;
    margin: 20px;
}
.infoFinal h6{
    margin-right: 10px;
}
/*Estilos del nav*/
hr {
    border-color: black;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}
.banner-right{
    align-items: center;
    display: flex;
}
.banner-right p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: gray;
}
.banner-right img{
    width: 20px;
    height: 20px;
}
.banner-left{
    display: flex;
    align-items: end;
    margin-top: 50px;
}
.banner-left a{
    font-family: 'Poppins', sans-serif;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
}
.banner-left a:hover {
    color: var(--clr-cuartario);
    transition: .4s;
}
.banner-left select{
    color: gray;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
    top: -10px;
}
/*Estilos del nombre y logo*/
.bannerPrincipal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.bannerPrincipal h1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.bannerPrincipal span{
    color: var(--clr-secundario);
}
.contenedorDerecho{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.contenedorDerecho .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contenedorMedio input{
    width: 300px;
    height: 30px;
    border-radius: 0;
    margin: 15px;
}
.botonBuscar{
    background-color: var(--clr-button);
    border: none;
    color: var(--clr-ternario);
    width: 60px;
    height: 30px;
    margin: 0;
}
.botonBuscar:hover{
    background-color: var(--clr-secundario);
    transition: .3s ease;
}
.contenedorIzquierdo{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorIzquierdo img{
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    transition: transform .4s ease;
}
.contenedorIzquierdo img:hover{
    transform: scale(1.1);
}
.carritoCompras{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.carritoCompras p{
    margin: 0;
}
.carritoCompras span{
    color: var(--clr-cuartario);
}

.contenedorDown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}
.contenedorDown ul{
    color: var(--clr-ternario);
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contenedorDown a {
    text-decoration: none;
}
.contenedorDown li{
    color: #ccc;
    cursor: pointer;
    list-style: none;
    margin: 10px;
}
.contenedorDown li:hover{
    color: var(--clr-ternario);
}
.contenedorDown li:focus{
    color: var(--clr-ternario);
}
.categoria button{
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.categoria button:hover{
    color: var(--clr-ternario);
}
select {
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.left{
    display: flex;
}
.left p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
    color: var(--clr-ternario);
}
.left img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 10px;
}
/*Estilos del search*/
.search {
    position: relative;
    right: 200px;
}
.button-search {
    background-color: var(--clr-secundario);
    border: none;
    border-radius: 5px;
    color: var(--clr-ternario);
    width: 70px;
}
.button-search:hover {
    background-color: #00b800;
    transition: .3s ease;
}
input {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
input:focus{
    outline: none;
}
input::placeholder {
    text-align: center;
}
.icon {
    margin-right: 10px;
}

/*Estilos panel*/
.cartaPanel h2{
    font-family: var(--type-principal);
    margin-bottom: 20px;
}
.opcionNavegacion {
    cursor: pointer;
    transition: .3s ease;
}
.opcionNavegacion a {
    color: var(--clr-cuartario);
    text-decoration: none;
}
.opcionNavegacion:hover {
    background-color: #84D187;
}
.opcionNavegacion img{
    margin-right: 10px;
}
.opcionNavegacion h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.cartaPerfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.cartaPerfil h3{
    font-family: var(--type-principal);
}
.cartaPerfil p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
}
.cartaPerfil a {
    cursor: pointer;
    color: var(--clr-secundario);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-top: 0;
    transition: .3s;
}
.cartaPerfil a:hover {
    color: var(--clr-button);
}


.cartaDatos h3{
    font-family: var(--type-principal);
}
.cartaDatos p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 0;
}
.cartaDatos span {
    font-family: 'Poppins',sans-serif;
    margin-top: 0;
}
.cartaDatos a {
    cursor: pointer;
    color: var(--clr-secundario);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    transition: .3s;
}
.cartaDatos a:hover {
    color: var(--clr-button);
}

.card h3 {
    padding: 10px;
}
table th {
    padding: 10px;
}
table td {
    padding: 10px;
}
.link {
    color: var(--clr-button);
    cursor: pointer;
    transition: .4s;
}
.link:hover {
    color: var(--clr-secundario);
}


/*Sesion suscripcion*/
.datosSuscripcion{
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: auto;
}
.sesion-suscripcion {
    height: 200px;
    margin-top: 0px;
}
.boletin-derecho{
    width: 448px;
    margin: 30px;
    text-align: left;
}
.boletin-derecho h2{
    font-family: var(--type-principal);
    font-weight: bold;
    text-align: left;
}
.boletin-derecho p{
    font-family: var(--type-principal);
    font-weight: 300;
    text-align: left;
    margin-top: 0;
    width: 400px;
}
.form-suscripcion{
    display: flex;
    width: 538px;
    top: 0;
    left: 0;
    margin: auto;
}

.form-suscripcion input{
    border-radius: 25px;
    background-color: var(--clr-ternario);
    border: none;
    width: 400px;
    height: 52px;
}
.form-suscripcion button{
    color: var(--clr-ternario);
    background-color: var(--clr-button);
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 52px;
    position: absolute;
}
.form-suscripcion button:hover{
    background-color: var(--clr-secundario);
    transition-duration: 1s;
}
.social-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 150px;
    height: 50px;
    top: 0;
    left: 0;
    margin: auto;
}
.social-icons i{
    margin-right: 20px;
}


/*Footer*/
footer {
    background-color: var(--clr-cuartario);
    width: 100%;
    min-height: 300px;
    padding: 20px 0;
}
.footer-columnas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    place-items: center;
    align-items: center;
    margin: 20px;
}
.footer-columnas a {
    color: #ccc;
    text-decoration: none;
}
.footer-columnas li{
    margin-top: 5px;
}
.footer-derecho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    margin: 20px;
}
.footer-derecho img{
    margin-top: 20px;
    margin-right: 10px;
}
.footer-derecho h2 {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    margin-top: 30px;
}
p {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}
.columna-uno,
.columna-dos,
.columna-tres, 
.columna-cuatro {
    margin-top: 20px;
}
.columna-uno h3,
.columna-dos h3,
.columna-tres h3,
.columna-cuatro h3{
    font-family: var(--type-principal);
    font-size: 18px;
    color: var(--clr-ternario);
    margin-left: 0;
}

.columna-uno ul,
.columna-dos ul,
.columna-tres ul,
.columna-cuatro ul{
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
}

.columna-uno li,
.columna-dos li,
.columna-tres li,
.columna-cuatro li{
    margin-top: 5px;
}

.columna-uno li:hover,
.columna-dos li:hover,
.columna-tres li:hover,
.columna-cuatro li:hover{
    color: var(--clr-ternario);
}

hr {
    margin: 20px 10%;
    border-bottom: 1px solid #ccc;
}