/*Tipografía del proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


:root {
    /*Var de la paleta de colores que se usaría*/
    --clr-principal: #29fe1d;
    --clr-secundario: #07e500;
    --clr-card: #84D187;
    --clr-button: #00B207;
    --clr-ternario: #fff;
    --clr-cuartario: #000; 
    /*Var de la tipografía*/
    --type-principal: 'Montserrat', sans-serif; 
}

/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos del nav*/
.banner{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
}
/*Estilos del nombre y logo*/
.bannerPrincipal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.contenedorDerecho{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.contenedorDerecho h1{
    color: var(--clr-ternario);
}
.contenedorDerecho span {
    color: var(--clr-secundario);
}
.contenedorDerecho .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.banner-left{
    display: flex;
    margin-top: 20px;
}
.banner-left a{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}
.banner-left a:hover {
    color: var(--clr-secundario);
    transition: .4s;
}
.banner-left select{
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    height: 60px;
}

.policies {
    margin-top: 150px;
}
.policies input {
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.policies button {
    padding: 11px;
}

.privacyPolicies {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 40px;
}
.privacyPolicies p {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
.privacyPolicies h2 {
    font-family: var(--type-principal);
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Footer*/
footer {
    background-color: var(--clr-cuartario);
    width: 100%;
    min-height: 300px;
    padding: 20px 0;
}
.footer-columnas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    place-items: center;
    align-items: center;
    margin: 20px;
}
.footer-columnas a {
    color: #ccc;
    text-decoration: none;
}
.footer-columnas li{
    margin-top: 5px;
}
.footer-derecho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    margin: 20px;
}
.footer-derecho img{
    margin-top: 20px;
    margin-right: 10px;
}
.footer-derecho h2 {
    color: var(--clr-ternario);
    font-family: var(--type-principal);
    margin-top: 30px;
}
p {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}
.columna-uno,
.columna-dos,
.columna-tres, 
.columna-cuatro {
    margin-top: 20px;
}
.columna-uno h3,
.columna-dos h3,
.columna-tres h3,
.columna-cuatro h3{
    font-family: var(--type-principal);
    font-size: 18px;
    color: var(--clr-ternario);
    margin-left: 0;
}

.columna-uno ul,
.columna-dos ul,
.columna-tres ul,
.columna-cuatro ul{
    cursor: pointer;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
}

.columna-uno li,
.columna-dos li,
.columna-tres li,
.columna-cuatro li{
    margin-top: 5px;
}

.columna-uno li:hover,
.columna-dos li:hover,
.columna-tres li:hover,
.columna-cuatro li:hover{
    color: var(--clr-ternario);
}

hr {
    margin: 20px 10%;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    .footer-columnas{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .columna-uno,
    .columna-dos,
    .columna-tres,
    .columna-cuatro{
        margin-top: 10px;
    }

    hr{
        margin: 20px 10%;
    }
}